ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(113, 174, 174);
    display: flex;
    justify-content: center;
}
li a{
  display: block;
  color: rgb(18, 7, 7);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}
li a:hover {
    background-color: rgb(140, 196, 196);
}

