button{
    background-color: rgb(202, 240, 240);
    border: 1px solid rgb(167, 167, 167);
    width: 100px;
    height: 25px;
    display: block;
    margin: auto;
    border-radius: 50px;
}
button:hover{
    cursor: pointer;
    background-color: rgb(175, 233, 233);
}
button:active{
    transform: scale(.95);
}
